.flex-container {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
    font-size: 50px;
    text-transform: capitalize;

}

.flex-container1 {

    font-size: 25px;
    text-transform: capitalize;

}



.text {
    padding: 30px 10px 1px 1px;
    color: white;
}

input {
    margin-bottom: 20px;
    width: 100%;
    border-radius: 4px;
}

.from {
    width: 100%;
    border-radius: 4px;
}